.container {
  margin-top: 16px;
  padding: 16px;
  background: white;
  border: 1px solid #c0c0c0;
}

.process-selection {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-name {
  margin-right: 16px;
}

.button-group {
  display: flex;

  > :not(:last-child) {
    margin-right: 8px;
  }
}

.field {
  margin-top: 16px;
  padding: 8px;
  display: flex;
}

.field-button {
  padding: 8px 24px;
}
