.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.file-section {
  border: 1px solid #c0c0c0;
  padding: 16px;
  background: white;
}

.input-group {
  display: flex;
  margin: 0 -8px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.input-field {
  margin: 0 8px;

  &-select {
    width: 120px;
  }
}
